<div class="w-full h-64 rounded-lg bg-green-600 p-2 flex flex-col items-center justify-center"> 
  <p class="text-xl text-green-50"> <%= meetup.name %> </p>
  <p class="text-lg text-green-50"> <%= meetup.created_at.strftime("%-l:%M%P %B %-d, %Y") %> </p>
</div>